@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition-property: opacity, background, transform;
  transition-timing-function: cubic-bezier(.60, 0, 1, 1);
  transition-duration: 250ms;
}

.page-transition-exit {
  opacity: 0;
  background: black;
  transition-timing-function: cubic-bezier(0, 0, .4, 1);
}

.page-transition-enter {
  opacity: 0;
  background: black;
  /* transform: translateY(-40px); */
  transition-duration: 0ms;
}

.page-transition-on-page-load {
  opacity: 0;
  background: black;
  /* transform: translateY(-40px); */
  transition-duration: 0ms;
}

.stroke-round {
  stroke-linecap: round;
  stroke-linejoin: round;

}


/* BUTTONS */
button {
  @apply rounded-full font-bold text-xs uppercase px-5 py-2 transition-colors duration-300 ease-out cursor-pointer;
}

button.primary {
  @apply bg-red-700 text-white border-red-700 border-1 hover:bg-transparent hover:text-red-500;
}

button.secondary {
  @apply bg-transparent text-current border-current border-1 hover:border-red-500 hover:bg-transparent hover:text-red-500;
}

.button-white {
  /* @apply bg-transparent text-white border-white border-1 hover:bg-white hover:text-black; */
  @apply bg-transparent text-white border-white border-1 hover:border-red-500 hover:bg-transparent hover:text-red-500;
}


/* .equipos-home {
  background-color: #c4a76f;
}


.equipos-home::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #c4a76f;
  mix-blend-mode: multiply;
  content: "";
} */